<template name="addplace">
  <header>
    <h1>Add place</h1><a href="#" class="close-btn right-header-btn">Close</a>
  </header>
  <section class="addplace-forms">
    
  </section>
  <footer>
    <button type="submit" class="right-footer-btn btn btn-primary">Add</button>
  </footer>
</template>

<template name="searchplace">
  <div class="places">
      <form class="add-form find-places">
        <span class="question">
          <img src="img/mapmarker.png">
          <input type="text" name="search-places" class="search-places" placeholder="Search for places" />
        </span>
      </form>
    <ul class="foundplaces">
    </ul>
  </div>
</template>