<template name="createitinerary">
  <header class="createitinerary-header">
    <h1>Create itinerary</h1>
  </header>
  <section class="createitinerary-map">
    {{> map}}
  </section>
  <section class="createitinerary-stopslist">
    <div class="scrollcontainer">
  	 <ul class="stopslist slippylist">
  	  {{#each stops}}
  	    {{> stop}}
  	  {{/each}}
	   </ul>
    </div>
    <div class="list-footer">
      <div class="btn-container">
        <div class="add-btn">
          <img src="/img/add139.png">
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="add-dialogue">
    Hej
  </div> -->
</template>

<template name="place">
  <li class="{{#if checked}}checked{{/if}}" _id="{{_id}}">
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    <span class="text"><strong>{{name}}</strong></span>
  </li>
</template>

<template name="stop">
  <li class="stop" _id="{{business.id}}" order="{{business.order}}">
    <span class="text"><strong>{{business.name}}</strong> - {{business.categories}}</span>
    <span class="text">{{business.snippet_text}}</span>
    <img src={{business.rating_img_url_small}}>
    <span class="instant"></span>
  </li>
</template>

